<section class="footer">
        <div class="contenedor texto-centro">
                <p>
                        TODOS LOS DERECHOS RESERVADOS. DISEÑADO POR
                        <a href="#">Sebastián Soberón</a>
                </p>
        </div>
</section>
</body></html>