<section class="navbar">
        <div class="contenedor">
                <div class="logo">
                        <img src="images/logo.png" alt="Logo" class="img-responsive"/>
                </div>
                <div class="menu texto-derecha">
                        <ul>
                                <li><a href="#">INICIO</a></li>
                                <li><a href="#">CONÓCENOS</a></li>
                                <li><a href="#">PLATOS</a></li>
                                <li><a href="#">CONTÁCTANOS</a></li>
                        </ul>
                </div>
                <div class="limpiar"></div>
        </div>
</section>
