<section class="sociales">
	<div class="contenedor texto-centro">
		<h2>Síguenos en...</h2>
		<ul>
			<li><a href="#"><i class="fab fa-facebook-square fa-3x"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter-square fa-3x"></i></a></li>
			<li><a href="#"><i class="fab fa-instagram-square fa-3x"></i></a></li>
		</ul>
	</div>
</section>